  <li class="class">
    <div class="class--image" style="background-image: url({{ site.baseurl }}/assets/images/{{ class.image }}.jpg);"></div>
      <strong class="class--title">{{ class.name }}</strong>
      <span class="class--data">{{ class.time }} – &pound;{{ class.price }}</span>
      <span class="class--contact">
        {% if class.tel %}
        <a href="{{ class.tel }}">
          <i class="fas fa-phone"></i> {{ class.tel }}
        </a>
        {% else %}
        {% endif %}
        {% if class.email %}
        <a href="mailto:{{ class.email }}">
          <i class="fas fa-envelope"></i> Email
        </a>
        {% else %}
        {% endif %}
        {% if class.web %}
        <a href="{{ class.web }}">
          <i class="fas fa-globe"></i> {{ class.webtitle }}
        </a>
        {% else %}
        {% endif %}

      <p class="class--desc">{{ class.desc }}</p>
  </li>
