<ul class="eventlist">
  <!--
    Current date: currentDateInt
    Event date: eventDateInt
    30 days from current date: futureDate

    List all future events up to 30 days from today's date
  -->
  <!-- Get the server's time minus 1 day (to allow events to show on same day) -->
  {% assign currentDate = site.time | date: '%s' %}
  {% assign currentDateInt = currentDate | plus:0 | minus: 86400 %}
  {% assign futureDate = currentDateInt | plus:2592000 %}
  {% for event in site.events %}
    <!-- Get all the events dates -->
    {% assign eventDate = event.date | date: '%s' %}
    {% assign eventDateInt = eventDate | plus:0 %}

    <!-- Compare event start date to server date (all future events and today's events should show) -->
    {% if page.title == "Home" %}
      {% if eventDateInt >= currentDateInt and eventDateInt <= futureDate %}
      <li class="eventlist-item" style="background-image: url({{ site.baseurl }}/assets/images/events/{{ event.image }}.jpg);">
          <a class="eventlist-item-link" href="{{ event.url }}">
            <div class="eventlist-item-link--wrap">
              <h1 class="eventlist-item-link--title">{{ event.title }}</h1>
              <h2 class="eventlist-item-link--data">
                {{ event.date | date: '%d %b, %Y' }} – {{ event.type }}
              </h2>
            </div>
          </a>
      </li>
        {% endif %}
      {% else %}
        {% if eventDateInt >= currentDateInt %}

          <li class="eventlist-item" style="background-image: url({{ site.baseurl }}/assets/images/events/{{ event.image }}.jpg);">
              <a class="eventlist-item-link" href="{{ event.url }}">
                <div class="eventlist-item-link--wrap">
                  <h1 class="eventlist-item-link--title">{{ event.title }}</h1>
                  <h2 class="eventlist-item-link--data">
                    {{ event.date | date: '%d %b, %Y' }} – {{ event.type }}
                  </h2>
                </div>
              </a>
          </li>
          {% endif %}
      {% endif %}
    {% endfor %}
</ul>
