<section class="visit-wrap">
  <h1 class="header-section">Visiting</h1>
  <div class="visit">
  <iframe class="visit-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9521.439086762071!2d-3.179484!3d53.372612!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8525fe66e993fbd7!2sWest+Kirby+Arts+Centre!5e0!3m2!1sen!2suk!4v1501155030779" frameborder="0" allowfullscreen></iframe>
  <div class="visit-address">
  <h2 class="visit-address--title">Address</h2>
  <address class="visit-address--address">
    West Kirby Arts Centre<br />
    29 Brookfield Gardens<br />
    West Kirby<br />
    Wirral<br />
    CH48 4EL
  </address>
  <h2>Parking</h2>
  <p>The Arts Centre is located half-way down a residential road in the centre of West Kirby.
    If you are driving to attend one of our events or classes, we ask kindly that you park your car at the
    <a href="https://goo.gl/maps/TXhmcGRxLKC2">West Kirby Concourse car park</a>, which is a 2 min walk from The Arts Centre. Brookfield Road and Brookfield Gardens
    have very limited spaces and should be made available for residents.</p>
  </div>
</div>
</section>

<footer class="footer-site">
  <p class="footer-site--copyright">
    West Kirby Arts Centre Ltd &copy; {{ site.time | date: '%Y' }}. Registered in England and Wales company number 07855490.
  </p>
  <p class="footer-site-logo--wrap">
    <img src="{{ site.baseurl }}/assets/images/logo-wkartscentre2@3x.png" alt="West Kirby Arts Centre" class="footer-site-logo" />
    <img src="{{ site.baseurl }}/assets/images/aclogo.png" alt="Arts Council England" class="footer-site-logo" />
  </p>
</footer>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a7de5e22ed94b91"></script>
</body>
</html>
