<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Chewy|Fjalla+One|Fredoka+One|Lato:300,400,700|Londrina+Solid:100,300,400,900|Mukta:200,300,400,700" rel="stylesheet">
    <link rel="stylesheet" media="all" href="{{ site.baseurl }}/assets/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">
      // For page scrolling
      $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 500);
              return false;
            }
          }
        });
      });
    </script>

    {% if page.layout == "eventdetail" %}
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    {% endif %}

  </head>
  <body
    class="{{ page.layout }} {% if page.title == "Classes" %}classes-wrap{% endif %} {{ page.title }}"
    {% if page.layout == "eventdetail" %}
      style="background-image: url({{ baseurl }}/assets/images/events/{{ page.image }}.jpg);">
    {% else %}
      style="background-image: url({{ baseurl }}/assets/images/{{ page.image }}.jpg);">
    {% endif %}
  <header>
    {% include navigation.html %}
    {% if page.layout == 'home' %}
      <div class="mission">
        <h1 class="logo">
          <a href="/">
            <img src="{{ baseurl }}/assets/images/logo-artscentre.png" alt="The Arts Centre West Kirby" />
          </a>
        </h1>
        <div class="mission-statement">
          <h2>
            Every town should have an arts centre. 
            This is West Kirby's.
          </h2>
        </div>
      </div>
    {% else %}
    <div class="siteheader">

      <h1 class="logo">
      <a href="/">
        <img src="{{ baseurl }}/assets/images/logo-artscentre.png" alt="The Arts Centre West Kirby" />
      </a>
    </h1>

  </div>
    {% endif %}

  </header>
