<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113882077-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-113882077-1');
    </script>
    <title>{{ page.title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:100,300,400,900|Mukta:200,300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="all" href="{{ site.baseurl }}/assets/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">
      // For page scrolling
      $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 500);
              return false;
            }
          }
        });
      });
    </script>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/assets/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Facebook tags -->
    {% if page.layout == "eventdetail" %}
      <meta property="og:image" content="https://www.westkirbyartscentre.org.uk/assets/images/{{ page.image }}.jpg"/>
    {% else %}
      <meta property="og:image" content="https://www.westkirbyartscentre.org.uk/assets/images/logo-square-darkbg.png"/>
    {% endif %}
    <meta property="og:image:width" content="760" />
    <meta property="og:image:height" content="" />
    <meta property="og:url" content="https://www.westkirbyartscentre.org.uk{{ page.permalink }}"/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.excerpt }}" />
    {% if page.layout == "eventdetail" %}
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% endif %}
    {% if page.title == "Classes" %}
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% endif %}
  </head>
  <body
    class="{{ page.layout }} {% if page.title == "Classes" %}classes-wrap{% endif %} {{ page.title }}"
    {% if page.layout == "eventdetail" %}
      style="background-image: url({{ site.baseurl }}/assets/images/events/{{ page.image }}.jpg);">
    {% endif %}
  <header>
    {% include navigation.html %}
    {% if page.layout == 'home' %}
      <div class="mission">
        <h1 class="logo">
            <img src="{{ site.baseurl }}/assets/images/logo-square2@3x.png" alt="The Arts Centre West Kirby" />
        </h1>
        <div class="mission-statement">
          <h2>
            Every town should have an arts centre.<br />
            This is West Kirby's.
          </h2>
        </div>
      </div>
    {% else %}
    <div class="siteheader">
      <h1 class="logo">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/images/logo-square2@3x.png" alt="The Arts Centre West Kirby" />
      </a>
    </h1>

  </div>
    {% endif %}

  </header>
