<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Lato:300,400,700|Londrina+Solid:100,300,400,900|Mukta:200,300,400,700" rel="stylesheet">
    <link rel="stylesheet" media="all" href="{{ site.baseurl }}/assets/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">
      // For page scrolling
      $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 500);
              return false;
            }
          }
        });
      });
    </script>

    {% if page.layout == "eventdetail" %}
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    {% endif %}

  </head>
  <body class="{{ page.layout }}">
  <header>
    {% include navigation.html %}
    {% if page.layout == 'home' %}
      <div class="mission">
        <h1 class="logo">
          <a href="/">
            <img src="{{ baseurl }}/assets/images/logo-artscentre.png" alt="The Arts Centre West Kirby" />
          </a>
        </h1>
        <div class="mission-statement">
          {{ content }}
        </div>
      </div>
    {% else %}
    <div class="siteheader">
      <h2 class="siteheader-title">
        {% if page.layout == 'eventdetail' %}
          {{ page.section_title }}
        {% else %}
        {{ page.title }}
        {% endif %}
      </h2>
      <h1 class="logo">
      <a href="/">
        <img src="{{ baseurl }}/assets/images/logo-artscentre-inverted.png" alt="The Arts Centre West Kirby" />
      </a>
    </h1>

  </div>
    {% endif %}

  </header>
