<nav class="site-nav">
  <ul class="site-nav-wrap">
    <li class="site-nav-item"><a href="/">Home</a></li>
    <li class="site-nav-item"><a href="/eventslist">What's on</a></li>
    <li class="site-nav-item"><a href="/classes">Classes</a></li>
    <li class="site-nav-item"><a href="/about">About</a></li>
    <li class="site-nav-item"><a href="/hire">Facilities</a></li>
    <li class="site-nav-item"><a href="/hire">Hire</a></li>
    <li class="site-nav-item"><a href="#">Contact</a></li>
    <li class="site-nav-item"><a href="#">Facebook</a></li>
  </ul>
</nav>
