<input id="burger" type="checkbox" />
<label for="burger">
    <span></span>
    <span></span>
    <span></span>
</label>
<nav class="site-nav navigation">
  <ul class="site-nav-wrap">
    <li class="site-nav-item"><a href="{{ site.baseurl }}/">Home</a></li>
    <li class="site-nav-item"><a href="{{ site.baseurl }}/eventslist">What's on</a></li>
    <li class="site-nav-item"><a href="{{ site.baseurl }}/classes">Classes</a></li>
    <li class="site-nav-item"><a href="{{ site.baseurl }}/about">About</a></li>
    <li class="site-nav-item"><a href="{{ site.baseurl }}/coast_cd">Coast CD Sales</a></li>
    <li class="site-nav-item"><a href="{{ site.baseurl }}/contact">Contact</a></li>
    <li class="site-nav-item facebook"><a href="https://www.facebook.com/WestKirbyArtsCentre/" class="facebook--link">Facebook</a></li>
  </ul>
</nav>
