$font-body: 'Mukta', sans-serif;
// $font-body: 'Lato', sans-serif;

$font-display: 'Fredoka One', cursive;
$font-display: 'Londrina Solid', cursive;
// $font-display: 'Chewy', cursive;
// $font-display: 'Fjalla One', sans-serif;
