---
# main.scss
---

/* Imports */
@import "mixins";
@import "base";
@import "fonts";
@import "colours";
@import "navigation";
@import "eventlist";
@import "event";

body {
  font-size: $font-med;
  font-family: $font-body;
  line-height: 1.35;

}

// +++ Temporary wireframe styles
a:link, a:visited, a:hover, a:active {
  color: $blue;
}

.header-section {
  display: inline-block;
  padding: $size-small $size-med;
  background-color: white;
  color: $pink;
  text-align: center;
  font-family: $font-display;
  text-transform: uppercase;
  font-size: $font-super;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

// Home
.home {
  background-color: darken($purple, 25%);
  background-color: $purple;
}
.logo {
  padding: $size-med $size-super;
  text-align: center;
  img {
    max-width: 500px;
    margin-top: -35px;
    margin-left: -75px;

  }
}
.mission {
  min-height: 600px;
  padding: 0;
  background: white url(/assets/images/example3.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position: 0 -100px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.mission-statement {
  text-align: center;
  position: absolute;
  bottom: $size-super;
  width: 70%;
  left: 15%;

  h2 {
    // text-transform: uppercase;
    margin: 0 auto;
    font-family: $font-display;
    font-weight: 400;
    font-size: $size-large;
    color: white;
    word-spacing: -15%;
    padding: $size-med $size-large;
    // display: inline-block;
    border: $size-small solid white;
    border-color: transparentize(white, 0.5);

  }
}
.classes-home {
  margin: 0;
  // width: 70%;
  position: relative;
  background: white url(/assets/images/classes.jpg) top right no-repeat;
  background-size: cover;
  color: white;
  font-size: $font-large;
  padding: ($size-super * 2);

}
.classes-home--contentwrap {

}
.classes-home--title {
  margin: 0 0 $size-large;
  font-size: $font-large;
  background-color: $pink;
  display: inline-block;
  padding: $size-small;
}
.classes-home--intro {
  font-size: $font-super;
  font-weight: 200;
  padding: $size-super;
  background-color: transparentize($darkblue, 0.05);

}
.classes-home--highlight {
  background-color: darken($yellow, 10%);
  padding: $size-med;
}
.classes-home--classname {
  font-family: $font-display;
  font-weight: 200;
  font-size: $font-super;
}
// Sitewide header (not home)
.siteheader {
  // background-color: darken($purple,18%);
}
.siteheader .logo {
  text-align: left;
  img {
    max-width: 300px;
    margin-left: -80px;
    margin-top: -35px;
  //   position: fixed;
  //   z-index: 1001;
  //   right: 25px;
  //   top: 15px;
      }
}
.siteheader-title {
  float: right;
  font-size: calc(3 * 24px);
  font-family: $font-display;
  text-transform: uppercase;
  margin: $size-small $size-super 0 0;
  color: white;
}
// Visit footer section
.visit-wrap {
  margin-top: 0;
  background-color: $black;
  position: relative;
  padding-top: $size-med;
  color: white;
}
.visit {
  margin: $size-super 0 0;
  display: flex;
  padding: $size-large;
}
.visit-address {
  width: 45%;
  padding: 0 $size-med;
  box-sizing: padding-box;
  margin-left: 5%;
  font-size: $font-large;
  font-weight: 200;
}
.visit-map {
  width: 45%;
  min-height: 500px;
  border: 0;
  padding: 0;
  box-sizing: padding-box;
  border: $size-small solid white;
}
.visit-address--title {
  font-size: $font-large;
  color: $yellow;
}
.visit-address--address {
  font-style: normal;
  margin: $size-med 0;
}

// Footer
.footer-site {
  background-color: darken($black, 5%);
  color: white;
}
.footer-site-logo {
  max-width: 200px;
  vertical-align: middle;
  float: right;
}

// Footer-site
.footer-site {
  padding: $size-large;
}

// Content
.content {
  margin: $size-med auto;
  width: 70%;
  @include mq(medium) {

  }
  @include mq(small-smartphone) {

  }

  h1 {
    margin: $size-large 0;
    font-size: $font-super;
  }

}
