---
# main.scss
---

/* Imports */
@import "mixins";
@import "base";
@import "colours";
@import "navigation";

body {
  font-size: $font-med;
  line-height: 1.35;
}

// +++ Temporary wireframe styles
a:link, a:visited, a:hover, a:active {
  color: $blue;
}

// Home
.mission {
  min-height: 500px;
  padding: 0 $size-med;
  background: #ccc url(/assets/images/) 0 0 no-repeat;
}
.mission-statement {
  text-align: center;
  font-size: 48px;
  h2 {
    margin: $size-large auto;
  }
}
.classes-home {
  margin: $size-med auto;
  width: 70%;

}
// Visit footer fection
.visit {
  margin: $size-super 0 0;
  display: flex;
  padding: $size-med;
  background-color: #eee;
}
.visit-address {
  width: 50%;
  padding: 0 $size-med;
  box-sizing: padding-box;
}
.visit-map {
  width: 50%;
  min-height: 500px;
  border: 0;
  padding: 0 $size-med;
  box-sizing: padding-box;
}

// Footer-site
.footer-site {
  background-color: #ccc;
  padding: $size-large;
}

// Content
.content {
  margin: $size-med auto;
  width: 70%;
  @include mq(medium) {

  }
  @include mq(small-smartphone) {

  }

  h1 {
    margin: $size-large 0;
    font-size: $font-super;
  }

}
// Event list
.eventslist--wrap {
  margin: $size-med auto;
  width: 90%;
}
.eventslist--title {
  text-align: center;
}
.eventlist {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.eventlist-item {
  width: 47.5%;
  box-sizing: border-box;
  padding: $size-large;
  background-color: #eee;
  margin: $size-med 0;
  &:nth-of-type(odd) {
    margin-right: 2.5%;
  }
  &:nth-of-type(even) {
    margin-left: 2.5%;
  }
}
// Event detail page
.event-book {
  border: 1px solid red;
}
// Footer
