{% include header.html %}
  <h1 class="event--title"><span>{{ page.title }}</span></h1>
  <main class="content event--content">
  <div class="event--pay">
    <h1 class="event--pay-title">Book tickets</h1>
    {% if page.bookable == false %}

      <p class="event--nobooking">Tickets must be booked via the organiser:</p>
      <button class="event--organisertickets">
        <a href="{{ page.organiser_url }}">Organiser website &gt;</a>
      </button>
    {% elsif page.bookable == true %}

  <p class="event--price">&pound;{{ page.price }}</p>

  <!-- Ticket calc -->

  <p class="event--tickets">
    Tickets: <input type="number" min="1" max="15" id="ticketNo" value="1" class="event--ticketno" />
  </p>
  <script>
    document.getElementById("ticketNo").addEventListener("click", function getTicketNo(){
      var tickets = document.getElementById("ticketNo").value;
      document.getElementById("totalTickets").innerHTML = tickets;

      var ticketsTotal = {{ page.price }} * tickets;
      document.getElementById("totalPrice").innerHTML = ticketsTotal;
      document.getElementById("wpTotalPrice").value = ticketsTotal;
    });


  </script>


  <p class="event--ticketssummary">Total <span class="event--totaltickets" id="totalTickets">1</span> &pound;<span id="totalPrice">{{ page.price }}</span></p>

  <form action="https://secure-test.worldpay.com/wcc/purchase" method="POST">
    <!-- This next line contains the testMode parameter - it species that the submission is a test submission -->
    <input type="hidden" name="testMode" value="100">
    <input type="hidden" name="instId" value="1254946">
    <input type="hidden" name="amount" id="wpTotalPrice" value="{{ page.price }}">
    <input type="hidden" name="currency" value="GBP">
    <input id="wpSubmit" class="event--purchase" type="submit" value="Buy tickets">
    <script>
      document.getElementById("wpSubmit").addEventListener("click", function getTicketsTotal(){
        var allTickets = document.getElementById("ticketNo").value;
        document.getElementById("wpTotalTickets").value += allTickets;
      });
      
    </script>
    <input type="hidden" name="cartId" id="wpTotalTickets" value="{{ page.title }} ticket(s) x ">
  </form>
  {% endif %}



</div>
  <div class="event--data">
      <!-- Get event date -->
      <p class="event--date">{{ page.date | date: '%A, %d %b %Y' }} – {{ page.time }} </p>
      <p class="event--genre">{{ page.type }}</p>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <div class="addthis_inline_share_toolbox_41ud"></div>
  </div>
  <article  markdown="1" class="event--details">
    {{ page.content | markdownify }}
  </article>
  </main>
{% include footer.html %}
