{% include header.html %}
  <h1 class="event--title"><span>{{ page.title }}</span></h1>
  <main class="content event--content">
  <div class="event--pay">
    <h1 class="event--pay-title">Book tickets</h1>
    {% if page.bookable == false %}

      <p class="event--nobooking">Tickets must be booked via the organiser:</p>
      <button class="event--organisertickets">
        <a href="{{ page.organiser_url }}">Organiser website &gt;</a>
      </button>
    {% elsif page.bookable == true %}

  <p class="event--price">&pound;{{ page.price }}</p>
  <p class="event--tickets">
    Tickets: <input type="number" id="ticketNo" value="1" class="event--ticketno" />
  </p>
  <form action="https://secure-test.worldpay.com/wcc/purchase" method="POST">
  <!-- This next line contains the testMode parameter - it species that the submission is a test submission -->
  <input type="hidden" name="testMode" value="100">
  <!-- This next line contains a mandatory parameter. Put your Installation ID inside the quotes a er value= -->
  <!-- You will need to get the installation ID from your Worldpay account. Login to your account, click se ing and under installations you should have an option called select junior and a number, put the number between “” e.g. “123456”-->
  <input type="hidden" name="instId" value="Your installation ID">
  <!-- Another mandatory parameter. Put your own reference identi er for the item purchased inside the quotes a er value= -->
  <input type="hidden" name="cartId" value="Your ID for the product">
  <!-- Another mandatory parameter. Put the total cost of the item inside the quotes -->
  <input type="hidden" name="amount" value="{{ page.price }}">
  <!-- Another mandatory parameter. Put the code for the purchase currency inside the quotes a er value= -->
  <input type="hidden" name="currency" value="GBP">
  <!-- This creates the bu on. When it is selected in the browser, the form submits the purchase details to us. -->
  <input class="event--purchase" type="submit" value="Buy tickets">
  </form>
  {% endif %}
</div>
  <div class="event--data">
      <!-- Get event date -->
      <p class="event--date">{{ page.date | date: '%A, %d %b %Y' }} – {{ page.time }} </p>
      <p class="event--genre">{{ page.type }}</p>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <div class="addthis_inline_share_toolbox_41ud"></div>
  </div>
  <article  markdown="1" class="event--details">
    {{ page.content | markdownify }}
  </article>
  </main>
{% include footer.html %}
