{% include header.html %}

<section class="eventslist--wrap home-events">
<h1 class="header-section">Upcoming events</h1>
{% include eventslist.html %}
<p class="eventslist--all">
  <a href="/eventslist">All events &gt;</a>
</p>
</section>

<section class="classes-home">
  <div class="classes-home--contentwrap">
  <h1 class="header-section">Classes at The Arts Centre</h1>
  <p class="classes-home--intro">The Arts Centre is home to a variety of classes taking place throughout the week. From yoga to art classes, join in one of the many on offer. </p>
  <p class="eventslist--all allclasses">
    <a href="/classes">All classes &gt;</a>
  </p>
</div>
</section>
{% include footer.html %}
