{% include header.html %}

<section class="eventslist--wrap">
<!-- <h1 class="eventslist--title">Upcoming events</h1> -->
{% include eventslist.html %}
<p class="eventslist--all">
  <a href="#">All events</a>
</p>
</section>

<section class="classes-home">
  <h1 class="header-section">Classes at The Arts Centre</h1>
  <p>The Arts Centre is home to a variety of classes taking place throughout the week. From yoga to arts classes, join in one of the many on offer. </p>
  <h2 class="classes-home--title">Highlight class</h2>
  <ul>
  <!-- Get classes from the classes data file and sort them alphabetically (by the class name) -->
  {% assign highlightClass = site.data.classes %}
  {% for class in highlightClass limit:1 %}
    <li class="classes-home--highlight">
        <strong class="classes-home--classname">{{ class.name }}</strong><br />
        {{ class.time }}, {{ class.day }} <br />
        <p>{{ class.desc }}</p>
    </li>
  {% endfor %}
  </ul>
</section>
{% include footer.html %}
